@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --tenne-tawny: #d65108;
  --tenne-tawny-dark: #b54507;
}

body {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  width: 80%;
  margin: 0 auto;
}

.nav-bar .nav-img {
  width: 7rem;
  height: 3rem;
  margin-top: -3rem;
}

.nav-bar .nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.nav-list li {
  margin-top: 4rem;
  font-size: 28px;
}

.nav-list li:nth-child(1) {
  font-weight: 800;
  text-decoration: underline;
}

.big-container {
  min-height: 100vh;
}

.meal-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  text-align: center;
}

.search-meal {
  margin: 2rem 0;
}

.search-meal cite {
  font-size: 1rem;
}

.search-form {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}

.search-control,
.search-btn {
  width: 100%;
}

.search-control {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid var(--tenne-tawny);
  color: var(--tenne-tawny);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
  color: var(--tenne-tawny);
}

.search-btn {
  width: 55px;
  height: 55px;
  font-size: 1.8rem;
  background: var(--tenne-tawny);
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
